/* styles.scss */
/* app.component.css */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
body{
    top: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
    font-family: '', sans-serif; 
    font-size: 16px; 
    /* line-height: 1.6;  */
    
}

body {
    font-family: 'Lato', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
