.service-explore-main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container{
    padding-top: 80px;
    text-align: center;
    display: block;
   
}

.title{
    font-size: 48px;
    line-height: 54px;
    font-weight: 500px;
    margin-bottom: 24px;
    color: rgb(30, 33, 36);
    font-style: normal;
    font-weight: 600;
}

.service-description{
    color: #1E2124;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    text-decoration:none solid rgb(30, 33, 36)
}

.Subcribe-block{
    width: 100%;
    z-index: 1;
    margin-top: 30px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.Subcribe-btn{
    display: inline-block;
    border: 1px solid rgb(249, 190, 0);
    cursor: pointer;
    /* color: 1E2124; */
    min-width: 200px;
    height: 50px;
    background-color: rgb(249, 190, 0);
    color: rgb(30, 33, 36) !important;
    text-decoration: none !important;
    padding: 0px 36px;
    position: relative;
    font-size: 21px;
    font-weight: 600;
    box-shadow: none;
    text-align: center;
    padding-top: 8px;
    transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}